// Colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$green: #4CAF50;
$dark-green: #3a9a25;
$cancel-order: #f44336;
$cancel-order-hover: #d8271a;

// Transition
$smooth: all .3s ease-in-out;